# Ignore all files but .c, .h, .txt, Makefile, .gitignore, .gitattributes, .gitkeep, .docx, .pdf and .md files
*
!*/
!**/*.c
!**/*.h
!**/*.txt
!**/Makefile
!**/.gitignore
!**/.gitattributes
!**/.gitkeep
!**/*.docx
!**/*.pdf
!**/*.md
