# Ignore all files but .c, .h, .md, Makefile, .gitignore, .gitattributes, .gitkeep, .docx and .pdf files
*
!*/
!**/*.c
!**/*.h
!**/Makefile
!**/.gitignore
!**/.gitattributes
!**/.gitkeep
!**/*.docx
!**/*.pdf
!**/*.md
